


.custom-select {
    min-width: 350px;
  }
  
  select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    text-transform: uppercase;
    font-family: "Sono", monospace !important;

    /* other styles for aesthetics */
    width: 400px;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #78716c;
    /* border: 1px solid #caced1; */
    border-radius: 30px;
    color: white;
    cursor: pointer;
  }